.productItem{
  margin-top: 20px;
}

.productItem h2{
  font-weight: 400;
}

.productItem p{
  margin-top: 10px;
  font-size: 18px;
  max-height: 300px;
  line-height: 25px;
  overflow-y: auto;
  color: hsl(210, 20%, 25%);
}

